  .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Cutive', serif;
    font-size: 2rem;
  }
  
  .Navbar nav-item {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
  }

  .Navbar a.Navbar-active {
    color: #8A8B8B;
  }
  
  .Navbar a {
    line-height: 125px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
  }
  
  .custom-underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
  
  .custom-underline,
  .custom-underline:hover,
  .custom-underline:focus,
  .custom-underline:active {
    color: #1D201F;
    text-decoration: none;
  }
  
  .custom-underline::after {
    content: "";
    position: absolute;
  }
  
  .nav-item .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 30%;
    background-color: #841C26;
    transition: 0.4s ease-out all .1s;
  }
  
  .nav-item:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
  }