.BrainhubCarousel__arrows {
    background-color: #841C26;
}

.BrainhubCarousel__arrows:hover {
    background-color: #841C26;
    opacity: .8;
}

.BrainhubCarousel__arrows:hover:enabled {
    background-color: #841C26;
    opacity: .8;
}

.quote {
    padding: 0 3rem;
}